@import "./colors.scss";


.landing-parent{
  position: relative;
}


.fade-in-text {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  color: $navy-blue;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
  background-color: $not-white;
  position:absolute;
  width: 45%;
  text-align: center;
  border-radius: 25px;
  align-content: center;
  margin-left: 30%;
  margin-top: 20%;
  opacity: 90%;
}




@keyframes fadeIn {
  0% {opacity:0;}
  90% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  90% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  90% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  90% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  90% {opacity:1;}
}