@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "../../../public/stylesheets/colors.scss";
@import "../../../public/stylesheets/progressionShow.scss";
@import "../../../public/stylesheets/landingPage.scss";
@import "../../../public/stylesheets/chordForm.scss";
@import "../../../public/stylesheets/midi.scss";
@import "../../../public/stylesheets/chordLookup.scss";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}
h2{
  font-family: 'Bebas Neue', cursive;
}

body {
  background-color: $not-white;
  color: $navy-blue;
  font-family: Arial, Helvetica, sans-serif;
}

.button{
  color: $not-white;
}

.left-side{
  padding: 30px;
}

.title{
  font-weight: 900;
}

.centered {
  text-align: center;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.sky-blue {
  color: $sky-blue;
}

.gray-blue {
  color: $gray-blue;
}

.medium-blue {
  color: $medium-blue;
}

.dark-blue {
  color: $dark-blue;
}

.navy-blue {
  color: $navy-blue;
}

.not-white {
  color: $not-white
}
